<!DOCTYPE html>
<html lang="pt-br">
<head>
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">

          <title>contact gerent</title>
</head>
<body>
          <div style="text-align: center;">
                    <form action="/add" method="POST">
                              <label>nome do aluno:</label>
                              <input type="text" name="nome" required><br><br>
                              <label>nota do aluno:</label>
                              <input type="number" name="nota" required> <small id="erro-nota" style="color:red; display:none;"></small>
    <br><br>
                              <button type="submit">Salvar</button>
                    </form>

          </div>
         
</body>
</html>